<div class="main-window">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div style="text-align:left">
            <h1>All Dramas</h1>
            <h5>Now we have  <span style="color:sandybrown"> <%= @count %> </span>  articles! </h5>

            <table class="table table-hover">
            <thead>
                <tr>
                    <th style="color:darkgray; width:85%">Name</th>
                    <th style="color:darkgray; width:15%">rating</th>
                </tr>
            </thead>
            <tbody>
            <% @articles.each do |article| %>    
                <tr class="tr">
                    <td><%= link_to article.title, article,  style: "text-decoration:none; color:white"%></td>
                    <td><span class="badge bg-secondary bg"><%= article.rating %> ⭐</span></td>                    
                </tr>
            <% end %>
            </tbody>
            </table>

        </div>
    <div class="col-3"> </div>
    </div>
</div>
<div class="pagination">
    <%= paginate @articles, window: 2 %>
</div>
</div>