/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .body{
    background-color: #ffff;
    width: 100%;
    height: 100%;
    padding-top:30px;
    margin-top:50px;
  }
.fade-in{
    margin: 80px;
    padding: 80px;
    opacity: 1;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
.main-window{
  background-color: rgb(0, 0, 0);
  color: white;
  padding-top: 100px;
  height: 800px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.form-window{
  background-color: rgb(206, 208, 210);
  color: rgb(0, 0, 0);
  padding-top: 100px;
  height: 150vh;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.form-block{
  /* margin: 10px; */
  /* padding: 10px; */
  opacity: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 24px;
}
.sidenav {
  height: 800px;
  width: 300px;
  position: fixed;
  top: 150px;
  left: 40px;
  overflow-x: hidden;
  font-size: 20px;
}

.fixedButton{
  position: fixed;
  bottom: 0px;
  right: 10px; 
  padding: 20px;
}

.btn-circle{
  width: 70px;
  height: 70px;
  padding: 2px 20px;
  border-radius: 40px;
  font-size: 40px;
  /* line-height: 1.33; */
}

.sticky-title{
  position: sticky;
  top: 80px;
  height: 100px;
  background-color: black;
  vertical-align: middle;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.table-hover{
  background-color: black;
  border-color: darkgray;
}

.tr{
 line-height: 60px;
}
.tr:hover{
  background-color: darkgray;
}
.paragraph-title{
  /* background-color: aliceblue; */
  border-left: 5px solid lightblue;
  width: 90px;
  height: 50px;
  box-sizing: border-box;
  font-size: 40px;
  margin: 1em 8px;
}
.paragraph-content{
  width: 80%;
  /* height: 100px; */
  box-sizing: border-box;
  font-size: 20px;
  /* margin: 1.5em 10px; */
  line-height: 2;
  padding-left: 25%;
  /* text-align: left; */
}
.pagination {
  justify-content: center;
  padding: 10px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  text-decoration: none;
  color: white;
}
.pagination a:hover, .pagination a:active {
  color: darkgray;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  /* font-weight: bol; */
  color:goldenrod;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  color: white;
}
